<a href="https://masterflutterweb.carrd.co/">
  <div
    class="mt-10 mb-10 duration-200 ease-in hover:scale-105 hover:opacity-80"
  >
    <img
      class="rounded-lg"
      src="/assets/course-cover.8a2dc722.jpg"
      alt="Flutter Web Course"
    />
  </div>
</a>
