---
interface Props {
  pageTitle: string;
  pageDesc?: string;
  rssFilePath?: string;
}

const { pageTitle, pageDesc, rssFilePath } = Astro.props;
---

<main id="main-content">
  <span class="flex-inline flex">
    <h1>{pageTitle}</h1>

    {
      rssFilePath && (
        <a
          target="_blank"
          href={rssFilePath}
          class="ml-4 mt-7 scale-150 hover:rotate-6"
          aria-label="rss feed"
          title="RSS Feed"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="rss-icon hover:fill-skin-accent"
          >
            <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
            <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
            <circle cx="6" cy="18" r="2" />
          </svg>
        </a>
      )
    }
  </span>
  {pageDesc && <p>{pageDesc}</p>}
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto mt-12 w-full max-w-4xl px-4 pb-12;
  }
  #main-content h1 {
    @apply text-6xl font-semibold;
  }
  #main-content p {
    @apply mt-2 mb-6 text-2xl;
  }
</style>
